/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Work+Sans&display=swap');


/* CONFIG */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}




/*  MENU  */

header{
    position: fixed;
    top: .5rem;
    z-index: 1;
    right:.5rem;
    left: 59%;
    height: 13vh;
    border-radius: 200px;

    /* background-color: rgba(134, 219, 255, 0.74); */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(8px);
}

header nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

header ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

header li{
    padding: 0 .6rem;
}

header a{
    /* color: rgb(53, 51, 117); */
    color: rgb(151, 151, 151);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: .2s;
    padding: .4rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

header a:hover{
    color: rgb(53, 51, 117);
    background-color: white;
}

header i{
    font-size: 1.6rem;
}







/* GERAL */

.container{
    width: 100%;
    height: 100vh;
    /* background-attachment: fixed; */

}

.container h2{
    padding: 1rem 4rem;
    font-size: 4rem;
    color: rgb(0, 152, 218);
    letter-spacing: 2px;
}







/* HOME */

.home_container{
    background-image: url(../images/home/FundoHome.png);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: cover;  

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: rgb(53, 51, 117);
}

.logo{
    position: absolute;
    left: 4rem;
    top: 1.4rem;
    width: 25%;
    background-color: white;
}

.logo img{
    width: 100%;
}


.nuvem{
    width: 35%;
    margin-left: 2.9rem;
}


.nuvem img{
    width: 100%;
}

.home_txt{
    width: 60%;
    height: 67vh;
}

.home_txt h1{
    font-size: 3.7rem;
    letter-spacing: 3px;
    line-height: 5rem;
    width: 85%;
    text-transform: uppercase;
    margin-top: 3rem;
}

.home_txt p{
    line-height: 2.2rem;
    font-size: 1.05rem;
    width: 85%;
}




/* EMPRESA */

.empresa_container{
    /* background-image: url(../images/sobre-nos/Empresa.png); */
    background-image: url(../images/sobre-nos/quem-somos-fundo-2.png);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: cover;  
}


.empresa_container p{
    padding: 1.4rem 4rem;
    width: 40%;
    line-height: 2.2rem;
    color: rgb(53, 51, 117);
}



/* EVENTOS */

.eventos_container{
    background-image: url(../images/eventos/Eventos.png);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: cover;  
    /* background-attachment: fixed; */

}

.eventos_container h2{
    color: rgb(53, 51, 117);
}



/* CONTATO */

.contato_container{
    background-image: linear-gradient(to bottom, rgb(53, 51, 117), rgb(0, 152, 216));
    /* background-image: linear-gradient(210deg, rgb(0, 152, 218), rgb(145, 216, 247)); */
    /* background-image: linear-gradient(140deg, rgb(0, 152, 218), rgb(145, 216, 247)); */
    /* background-image: linear-gradient(to bottom, rgb(0, 152, 218), rgb(190, 242, 255)); */
    /* background-attachment: fixed; */
    position: absolute;
    z-index: -2;
}

.contato_background{
    width: 100%;
    height: 100%;
    /* background-image: url(../images/contato/fundo-contato.png); */
    background-position: left ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.contato_container h2{
     /* color: rgb(0, 0, 0); */
    color: rgb(43, 43, 43);
    color: white;

}


.contato_main{
    width: 100%;
    padding: 3rem 1rem .2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contatos_section{
    width: 300px;
    height: 300px;
}

 .parceiros_section{
    width: 42%;
    height: 60vh;
    padding: 1.2rem 1.2rem 0.4rem;
    /* border-radius: 40px; */
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 153, 218, 0.699); */
    /* background-color: rgba(145, 216, 247, 0.815); */
    /* box-shadow: 0 0 8px rgb(49, 49, 49); */
    /* border-bottom: solid 1px black; */
}



.parceiros_section h3{
    /* text-align: center; */
    padding: 0rem 2rem;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-transform: uppercase;
}


.parceiros_images{
    display: flex;
    height: 100%;
    width: 100%;
}



.columns_parceiro{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.cardFlip{
    width: 100%;
    height: 34%;
    transform-style: preserve-3d;
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    transition: all .8s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.637);
    cursor: pointer;
}

.cardFlip:hover{
    box-shadow: 0 0 20px rgba(0, 41, 177, 0.973);
}

.flip{
    transform: rotateY(0deg);
}


.front{
    background-color: rgb(255, 255, 255);    
}

.back{
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face{
    width: 100%;
    height: 100%;
    /* border: solid 2px red; */
    position: absolute;
    border-radius: 10px;
}

.face img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}



.footer_logo{
    position: absolute;
    bottom: 0;
    width: 50%;
    /* height: 50px; */
    right: 0;
    text-align: center;
}







.contatos_section{
    /* border: solid 2px red;   */
    /* box-shadow: 0 0 5px rgb(0, 0, 0); */
    width: 55%;
    height: 78vh;
    padding: 1.2rem;
    border-radius: 40px;
    display: flex;

}

.contatos_section ul{
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 1.47rem;
    width: 50%;
    /* border: solid 2px red; */
    padding: .4rem 2rem;
    /* height: 60%; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.contatos_section ul li{
    /* border: solid 2px red; */
    padding: .5rem 0;
}

.contatos_section ul h3{
    color: rgb(43, 43, 43);
    padding: 1.9rem 0 .6rem;
}




.fa-linkedin{
    /* color: #2867B2; */
    /* background-color: white; */
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.fa-instagram{
    /* background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 5px;
    padding-bottom: 1.4px;
}

.fa-map-marker-alt{
    color: rgb(255, 255, 255);
}

.fa-whatsapp{
    /* background-color: 	#25D366; */
    color: white;
    border-radius: 5px;
    padding: 2px;
    color: rgb(255, 255, 255);

}

.fa-envelope{
    color: rgb(37, 0, 245);
    color: rgb(255, 255, 255);

}

.fa-phone-alt{
    color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);

}





.contato_img{
    width: 37%;
    /* height: 30%; */
    position: absolute;
    bottom: 0;
    left: 18%;
    z-index: -1;
}

.contato_img img{
    width: 100%;
}



/* RESPONSIVO */


@media (max-width: 1250px){
    html{
        font-size: 12px;
    }

    header{
        left: 54%;
    }
}





/* PRODUTOS */

#body-produtos{
    /* background-image: linear-gradient(170deg, white, rgb(145, 216,2477), rgb(0, 152, 218), rgb(53, 51, 117)); */
    background-image: url(../images/produtos/fundoCorreto-produtos.png);
    background-size: cover;
    /* background-color: black; */
}

#produtos-fundo-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
}

.container_produtos_1 {
    margin-top: 10rem;
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_produtos_1 h2{
    /* color: rgb(0, 152, 247); */
    color: white;
    font-weight: 300;
    font-size: 10rem;
    text-align: center;
    /* text-transform: uppercase; */
}

.container_produtos_1 p{
    padding: .4rem 10rem;
    font-size: 1rem;
    text-align: center;
    /* color: rgb(87, 87, 87); */
    color: rgb(53, 51, 117);
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

#header_produtos{
    background-color: transparent;
    /* background-color: rgb(255, 255, 255); */
    /* opacity: .7; */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#header_produtos a{
    /* color: rgb(255, 255, 255); */
    color: rgb(53, 51, 117);

}

#header_produtos a:hover{
    /* color: rgb(53, 51, 117); */
    background-color: white;
}

.produtos_biotronic{
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: 7rem;
    /* border: solid 2px red; */
    width: 100%;

}

.div_card{
    width: 23%;
    margin-top: 1rem;
    margin: 1rem 1rem;
    transition: .6s;
}

.div_card h3{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    height: 7rem;
}


.produto_card{
    width: 100%;
    height: 19rem;
    border-radius: 40px;
    box-shadow: rgb(128, 128, 128) 0 0 7px;
    transition: .6s;
    background-color: white;
}

.div_card:hover{
    width: 24%;
    /* height: 30rem; */
    cursor: pointer;
}

.produto_card:hover{
    height: 20rem;
}

.burger{
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgb(165, 165, 165);
}

.logo_produtos{
    background-color: transparent;
}

.arrow{
    width: 100px;
    height: 70px;
}

.arrow:hover{
    cursor: pointer;
}





/* FOOTER */

footer{
    height: 30vh;
    background-image: linear-gradient(to bottom, rgb(53, 51, 117), rgb(0, 152, 216));
    
}

