.div_p_2_img{
    /* border: solid 2px red; */
    padding: 3rem 0;
    justify-content: flex-start;
    /* position: ; */
    width: 100%;
}

.div_p_2_img img{
    width: 60%;
}

.div_p_1 p{
    width: 100%;
    padding: .5rem;
}

.div_p_1 img{
    padding: .5rem;
}