/* RESPONSIVO */


@media(max-width: 1300px){

    header{
        width: 44%;
    }

    header a{
        font-size: .943rem;
    }
}


@media (max-width: 1250px){
    html{
        font-size: 13px;
    }

    .slide div{
        min-width: 6rem;
    }

    .tns-controls button{
        margin-top: 10px;
    }
}

@media (max-width: 1150px){
    .home_container h1{
        font-size: 3rem;
    }

    .home_container p{
        padding: 1rem 1rem 1rem 0;
    }
}


/* MOBILE CSS */

@media (max-width: 1000px){

    .mobile{
        display: flex;
    }

    header{
        display: none;
    }


    /* HOME */

    .home_txt, .nuvem{
        display: none;
    }

    .logo{
        width: 37%;
        left: 5px;
        z-index: -1;
    }



    .home_container{
        background-image: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 13rem;
    }

    .home_container h1{
        padding: .2rem 0;
        text-transform: uppercase;
        font-size: 2.3rem;
        text-align: center;
    }

    .home_container p{
        text-align: center;
        padding: .2rem;
        font-size: 1.3rem;
    }


    .nuvem_mobile{
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }

    .nuvem_mobile img{
        width: 34%;
    }



    /* EVENTOS */

    .eventos_container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .div_eventos{
        width: 80%;
        height: 62vh;
        margin-left: 0;
        margin-top: 0;
    }

    .slide div{
        height: 50vh;
        min-width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    /* A EMPRESA */

    .empresa_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-image: url(../../images/sobre-nos/Empresafundo800px.png);
        background-position: bottom right;
        background-size: cover;
    }

    .empresa_container h2{
        font-size: 3rem;
    }

    .empresa_container p{
        font-size: 1rem;
    }

    .empresa_container p{
        text-align: center;
        width: 90%;
    }

    .empresa_img_mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .empresa_img_mobile img{
        width: 50%;
    }



    /* CONTATO */

    .contato_container h2{
        font-size: 2.4rem;
        padding: 1rem;

    }

    .contatos_conteudo ul, .contatos_conteudo .endereco p{
        font-size: 1rem;
        padding: 1rem;
    }


    .parceiros_bottom {
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }


    .parceiros_bottom img{
        width: 18%;
    }




    /* PRODUTOS */

    .logo_produtos{
        width: 25%;
        z-index: 2;
    }

    #body-produtos{
        background-image: url(../../images/produtos/fundo.png);
        background-size: cover;
    }

    .container_produtos_1 h2{
        color: white;
        font-size: 6rem;
    }

    .container_produtos_1 p{
        font-size: 1rem;
        padding: .5rem;
    }

    .container_produtos_novo{
        padding: 1rem;
    }

    .container_produtos_novo h2{
        color: rgb(145, 216, 247);
        font-size: 2.6rem;
    }

    .no_mobile{
        display: none;
    }

    .container_produtos_novo{
        flex-direction: column;
    }

    .cards_mobile{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    .cards_mobile .card_p {
        width: 50%;
    }

    .cards_mobile .card_p .white_card{
        height: 100%;
        padding: .6rem;
        text-align: center;
        border-radius: 20px;
    }

    .cards_mobile .card_p .white_card h3{
        font-size: 1.2rem;
    }

    .white_card{
        position: relative;
    }

    .card_p .ver_mais_btn{
        /* border: solid 2px red; */
        position: absolute;
        right: 5px;
        bottom: 2px;
    }

    
    .card_p a{
        text-decoration: none;
    }

    .card_p .ver_mais_btn a{
        padding: .4rem .4rem;
    }



}




@media(max-width: 750px){
    .nuvem_mobile img{
        width: 42%;
    }
}





@media (max-width: 615px){
    .home_container{
        padding-top: 10rem;
    }

    .logo{
        width: 45%;
    }

    .nuvem_mobile img{
        width: 50%;
    }



    .div_eventos{
        width: 95%;
    }


    /* EVENTOS */

    .eventos_container h2{
        padding-top: 3rem;
    }



    /* A EMPRESA */

    .empresa_container{
        
        background-image: none;
    }

    .mobile_background_empresa{
        position: relative;
        bottom: 2rem;
        left: 0;
        right: 0;
        width: 100%;
    }

    .mobile_background_empresa img{
        width: 100%;
    }

    .mobile_2{
        display: block;
    }



    /* CONTATO */

    .contato_container h2{
        font-size: 2rem;
        padding: 1rem;

    }

    .contatos_conteudo ul, .contatos_conteudo .endereco p{
        font-size: .8rem;
        padding: 1rem;
    }

    .parceiros_bottom{
        bottom: 10%;
    }

    .parceiros_bottom img{
        width: 17%;
    }

}

@media (max-width: 400px){

    .slide div{
        height: 40vh;
        min-width: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

     /* A EMPRESA */
     /* .empresa_container{
        background-image: url(../../images/sobre-nos/Empresafundo400px.png);
        background-position: bottom right;
    } */

    .parceiros_bottom img{
        width: 20%;
    }
    
}


@media (max-width: 360px){
    html{
        font-size: 11px;
    }
}


